{% extends "base.html" %}
{% block title %}Page analyzer{% endblock %}
{% block content %}
    {% if messages %}
        <class=flashes>
        {% for category, message in messages %}
            <div class="{{ category }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="container-lg mt-3">
        <h1>Сайт: {{ name }}</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-hover text-nowrap" data-test="url">
              <tbody>
                <tr>
                  <td>ID</td>
                  <td> {{ url_id }}</td>
                </tr>
                <tr>
                  <td>Имя</td>
                  <td> {{ name }}</td>
                </tr>
                <tr>
                  <td>Дата создания</td>
                  <td> {{ created_at }}</td>
                </tr>
              </tbody>
            </table>
          </div>

        <h2 class="mt-5 mb-3">Проверки</h2>
            <form method="post" action="{{ url_for('url_checks', id=url_id) }}">
                <input type="hidden"  name="url_name" value="{{ name }}">
                <input type="submit" class="btn btn-primary" value="Запустить проверку">
            </form>
        <div>
            <table class="table table-bordered table-hover mt-2" data-test="checks">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Код ответа</th>
                    <th>h1</th>
                    <th>title</th>
                    <th>description</th>
                    <th>Дата создания</th>
                </tr>
                </thead>
                <tbody>
                {% if check_result %}
                  {% for id, _, status_code, h1, title, description, created_at in check_result %}
                  <tr>
                    <td>{{ id }}</td>
                    <td>{{ status_code }}</td>
                    <td>{{ h1 }}</td>
                    <td>{{ title }}</td>
                    <td>{{ description }}</td>
                    <td>{{ created_at}}</td>
                  </tr>
                  {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
