{% extends "base.html" %}
{% block title %}Page analyzer{% endblock %}
{% block content %}
    {% if messages %}
        <class=flashes>
        {% for category, message in messages %}
            <div class="{{ category }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="container-lg mt-3">
        <h1>Сайты:</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-hover text-nowrap" data-test="urls">
                <thead>
                    <tr>
                        <th> ID </th>
                        <th>Имя</th>
                        <th>Последняя проверка</th>
                        <th>Код ответа</th>
                    </tr>
                </thead>
                <tbody>
                {% for id, name, created_at in data %}
                    <tr>
                        <td> {{ id }}</td>
                        <td> <a href="{{ url_for('show_url', id=id)}}"> {{ name }}</td>
                        <td>{{ created_at }}</td>
                        <td>status_code</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
          </div>
{% endblock %}